body {
    width: 100%;
    margin: 0 auto;

}

body div {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hat {
    background: #e9e7e7;
    border: 1px solid #b9d4d4;
    text-align: center;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.btn-table{
    width: 100%;
    height: max-content;
    border: 1px solid #b9d4d4;
    padding: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e9e7e7 ;
    margin: 0 auto;
    display: flex;

}

.btn-block{
    width: 20%;
    height: 30px;
    background-color: antiquewhite;
    display: flex;
}
.btn-active{
    width: 50%;
    border: 1px solid #b9d4d4;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    background-color: #2f64bf;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 50%;
    border: 1px solid #b9d4d4;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-block{
    width: 75%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
}

.select-any-lng{
    width: 23%;
    height: max-content;
    display: flex;
    justify-content: flex-end;

}

.select-lng{
    width: 15%;
    height: max-content;
    display: flex;
    justify-content: flex-end;


}

.select-date{
    width: 20%;
    height: max-content;
    display: flex;
    justify-content: flex-end;


}

.select-name{
    font-family: sans-serif;
    font-size: 15px;

}

.select-param{
    font-family: sans-serif;
    font-size: 15px;

}

.select-arrow{
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table{
    width: 100%;
    height: max-content;
    border: 1px solid #b9d4d4;
    display: flex;
    margin: 0 auto;
}

.content-block{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center ;
    margin: 20px auto;
}

.article-block{
    width: 100%;
    height: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.header{
    width: 50%;
    height: max-content;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.header-symbol{

}

.repository-name{
    font-size: 19px;
    font-weight: bold;
    margin-left: 5px;
}

.article-name{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.article-symbol{

}

.article-title{
    font-family: sans-serif;
    font-size: 16px;
}

.auxiliary-block{
    width: 50%;
    height: max-content;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prgrm-language{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.language-symbol{
    width: max-content;
    height: max-content;
    font-size: 15px;
}

.language{
    font-family: sans-serif;
    font-size: 13px;
}

.star-amount{
    width: max-content;
    height: max-content;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.star-symbol{
    width: max-content;
    height: max-content;
    font-size: 15px;
}

.amount{
    font-family: sans-serif;
    font-size: 13px;
}

.repost-amount{
    width: max-content;
    height: max-content;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.repost-symbol{
    width: max-content;
    height: max-content;
    font-size: 15px;
}

.creater-block{
    width: max-content;
    height: max-content;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.built-by{
    font-family: sans-serif;
    font-size: 13px;
}

.icon{
    margin-left: 2px;

}
.round{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px;
    box-shadow: 0 0 7px #666;
}

.like-block{
    width: 30%;
    height:100px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.btn-like{
    width: 40%;
    height: 25px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;

}

.btn-star{
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 5px;

}

.btn-title{
    font-family: sans-serif;
    font-size: 16px;
}

.like-chapter{
    width: 40%;
    margin-left: 25px;
    margin-top: 4px;

}

.btn-like-left{
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.today-amount-star{
    width: 100%;
    height: 15px;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.star-symbol{
    width: 5%;

}

.stars-today{
    width: 80%;

}

.today-amount{
    font-family: sans-serif;
    font-size: 15px;
}

.stars-today{
    font-family: sans-serif;
    font-size: 15px;
}


